<div class="container">
  <mat-card class="example-card">
    <mat-card-header class="mobile-term-card-header">
      <mat-card-title>{{term.term}}</mat-card-title>
      <mat-card-subtitle>ID: {{term.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{term.definition}}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button class="edit-btn" (click)="editTerm()"><span>Edit</span>
      </button>
      <button mat-button class="delete-btn" (click)="deleteTerm()"><span>Delete</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
