@import '../../styles.scss';

*{
  font-family: 'Montserrat', sans-serif;
}

.delete-button{
  background-color: $destructive-action-color;
  color: white;
}

.mat-dialog-title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

.term-summary{
  margin: 24px;
}

.title{
  font-weight: bold;
}

.cancel-btn{
  border: 2px solid $prime-text-color;
}

.title, .content{
  margin-bottom: 12px;
}
