@import '../../styles.scss';
*{
  font-family: 'Montserrat', sans-serif;
}

.mat-form-field{
  display: block;
}

.mat-dialog-title {
  text-align: center;
}

.definition-text-area{
  min-height: 120px;
  height: 100%;
}

.add-btn, .cancel-btn{
  border: 2px solid $prime-text-color
}

.add-btn{
  color: $prime-text-color;
  font-weight: bold;
}
